<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- How often to poll Unity for new builds - in minutes. -->
    <add key="POLLING_FREQUENCY" value="20"/>
    <!-- Where to store builds downloaded from Unity Cloud Build. -->
    <add key="DOWNLOAD_DIRECTORY" value="dist"/>
    <!-- Where to the Steamworks SDK is located. -->
    <add key="STEAMWORKS_DIRECTORY" value="Steamworks_SDK"/>
    <!-- Add Slack webhook URL here to receive notifications. -->
    <add key="SLACK_NOTIFICATION_URL" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
